* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* WhatsApp Font */
}

body {
  background-color: #e9ede8; /* WhatsApp light background */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #111b21; /* WhatsApp dark text color */
  background-image: url('/Whatsapp\ theme.jpg');
}

.container {
  width: 85vw; /* Slightly wider */
  height: 90vh;
  background-color: #b9bebddd; /* White background */
  border-radius: 12px;
  border: none; /* Remove border */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  
}

.loading { /* Loading screen (optional) */
  padding: 50px;
  font-size: 24px; /* Smaller font */
  border-radius: 10px;
  background-color: #f0f2f5; /* WhatsApp light gray */
  color: #111b21; /* Dark text */
  text-align: center;
  width: fit-content; /* Make the box adapt to content width */
  margin: auto; /* Center the box */
}
